<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
    <div>
        <a href ='/new_post'>Add New Post!</a>
    </div>
<div>
    <a href ='/blog'> Blog Post Page</a>
</div>
<div>
    <a href="/logout">Logout</a>
</div>
<div>
    <a href="/">mainpage</a>
</div>
<div>
    <a href="/login">Login</a>
</div>

{% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>